/* *********************************************************************** COMMON STYLE *********************************************************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.boxed-bg {
    width: 1140px;
    margin: 0 auto;
}

.boxed-md {
    width: 1050px;
    margin: 0 auto;
}

.boxed-sm {
    width: 40%;
    margin: 0 auto;
}

.back-violet {
    background-color: #9792E4;
    color: white;
}

.back-white {
    background-color: white;
    color: #9792E4;
}

.back-lightblue {
    background-color: #B5DDFB;
    color: #2083F6;
}

.back-blue {
    background-color: #2083F6;
    color: white;
}

.padd-section {
    padding: 3rem 1rem;
}

.padd-div {
    padding: 1rem;
}

.container-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.item-gap {
    gap: 1rem;
}

.p-sm {
    font-size: 0.8rem;
}

.btn {
    border-radius: 15px;
}

.btn-bg {
    padding: 0.5rem 3rem;
}

.btn-sm {
    padding: 0.3rem 1rem;
}

.btn-white {
    background-color: white;
    color: #9792E4;
}

.btn-violet {
    background-color: #9792E4;
    color: white;
}

.btn-blue {
    background-color: #2083F6;
    color: white;
}

.btn-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

.col {
    border-radius: 20px;
}

/* *********************************************************************** HEADER *********************************************************************** */

.menu-mob-tab {
    justify-content: space-between;
}

.menu-desk {
    display: none;
}

/* *********************************************************************** SECTION FEATURE *********************************************************************** */

.col-up-bg h3,
.col-up-bg a {
    align-self: flex-start;
}

.card-feature-up {
    margin-bottom: 1rem;
}

.img-card img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.img-card {
    text-align: center;
}

.icon-bg {
    margin: 0 auto;
    font-size: 4rem;
}

.col-sm {
    text-align: center;
}

#feature p {
    color: #5A6E7F;
}

/* *********************************************************************** SECTION PLANNING *********************************************************************** */

#planning img {
    width: 100%;
}

.col-dev {
    text-align: center;
}

.col-dev h3,
.col-dev p {
    color: black;
}

.col-dev .btn-circle {
    margin: 0 auto;
}

/* *********************************************************************** SECTION TESTIMONIAL *********************************************************************** */

#testimonial {
    text-align: center;
}

.col-cit h3 {
    margin-top: 1rem;
}

.col-img {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.img-testimonial-1 {
    background-image: url(./img/testimonial1.jpg);
}

.img-testimonial-2 {
    background-image: url(./img/testimonial2.jpg);
}

.img-testimonial-3 {
    background-image: url(./img/testimonial3.jpg);
}

.box-testimonial:first-child h2 {
    color: #9792E4;
}

/* *********************************************************************** SECTION BENEFITS *********************************************************************** */

.card-benefits {
    align-items: flex-start;
}

/* *********************************************************************** SECTION ABOUT US *********************************************************************** */

.profile .btn {
    align-self: flex-start;
}

/* *********************************************************************** SECTION CTA *********************************************************************** */

.box-cta {
    align-items: center;
    text-align: center;
}

/* *********************************************************************** FOOTER *********************************************************************** */

footer {
    background-color: #333333;
    text-align: center;
    color: white;
}

/* *********************************************************************** RESPONSIVE *********************************************************************** */
/* TABLET  */
@media screen and (min-width: 600px) {     /* TABLET  */

    .card-feature-up {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .card-feature-down {
        flex-direction: row;
    }

    .col-up-bg {
        flex-direction: row;
        width: calc(66% + 0.33rem);
    }

    .col-sm {
        width: calc(33% - 0.33rem);
    }

    .box-card-benefits {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-benefits {
        width: calc(100% / 2 - 1rem);
    }

    .box-about-us {
        flex-direction: row;
    }

    .box-cta {
        width: 80%;
        margin: 0 auto;
    }

    .box-footer {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1140px) {     /* DESKTOP */
    
    .menu-mob-tab {
        display: none;
    }

    .menu-desk {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
    }

    .list-nav-desk li {
        list-style: none;
    }
    
    .card-feature-up,
    .card-feature-down {
        width: 70%;
        margin: 0 auto;
    }

    .card-feature-up {
        margin-bottom: 1rem;
    }

    .box-planning {
        flex-direction: row;
        width: 60%;
        margin: 0 auto;
    }

    .box-testimonial {
        width: 70%;
        margin: 0 auto;
    }

    .box-benefits {
        width: 70%;
        margin: 0 auto;
    }

    .card-benefits {
        width: calc(100% / 3 - 1rem);
    }

    .box-about-us {
        width: 60%;
        margin: 0 auto;
    }

    .box-cta {
        width: 50%;
        margin: 0 auto;
    }
}